* {
    box-sizing: border-box;
  }
html {
    scroll-behavior: smooth; 
}
body {
    font-size: 16px;
    font-family: 'Martian Mono', monospace;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}
header,
footer {
    color: #ffffff;
    background-color: #2a78ab;
}
main {
    border: 1px solid red;
    margin: 0;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
.nav-link {
    padding: 0 20px;
    line-height: 1.3;
    text-decoration: none;
    transition: .15s;
    color: #ffffff;
}
.nav-link:hover {
    font-weight: 900;
}




